/*----------FONTS----------*/

@import url(https://fonts.googleapis.com/css?family=Passion+One:400);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

/*----------RESET----------*/

*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, article, figure, footer, header, menu, nav, {
	margin: 0;
	padding: 0;
}

/*----------BODY----------*/

body {
  margin: 50px auto;
  width: 80%;
}

/* ------- HEADER---------*/

header {
  overflow: hidden;
}

header h3 {
  font-size: 1.0em;
}

header span {
  color: teal;
  font-weight: 100;
}

header span:before {
  content:"/";
  margin: 5px;
}

header span:after {
  content:"";
  border-top: solid 5px black;
  width: 9999px;
  position: absolute;
  margin-left: 5px;
  top: 6px;
}

/*----------SECTION----------*/
section h2 {
  font-family: 'Playfair Display', serif;
}
