/*----------FONTS----------*/

@import url(https://fonts.googleapis.com/css?family=Passion+One:400);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

/*----------RESET----------*/

*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, article, figure, footer, header, menu, nav, {
	margin: 0;
	padding: 0;
}

/*----------BODY----------*/

body {
  margin: 50px auto;
  width: 80%;
}

/* ------- HEADER---------*/

header {
  overflow: hidden;
}

header h3 {
  font-size: 1.5em;
}

header span {
  color: teal;
  font-weight: 100;
  position: relative;
  padding-left: 20px;
}

header span:before {
  content: "";
  width: 20px;
  height: 25px;
  border-left: solid 1px teal;
  position: absolute;
  transform: translateX(-13px) translateY(4px) rotate(15deg);
}

header span:after {
  content:"";
  border-top: solid 5px black;
  width: 9999px;
  position: absolute;
  margin-left: 5px;
  top: 10px;
}

/*----------SECTIONS----------

section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  padding-left: 5%;
  color: darkgray;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}*/
